<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-custom fixed-top py-1">
        <a class="navbar-brand" href="index.html">More Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="icon">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link color" href="recipe.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="recipe.html">Recipes</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="authUsers/profile.html">
                <input type="text" name="email" class="form-control" placeholder="Email">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Sign In</button>
            </form>
        </div>
    </nav>



    <section class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-md-8">
                <img src="img/banner1.jpg" alt="..." class="img-thumbnail size" id="mainImage">
            </div>
            <div class="col-md-4" id="media">
                <p>More-Recipes provides a platform for users to share the awesome and exciting recipe ideas they have invented or learnt.</p>
                <p>Suppose a user comes up with a recipe, he/she can post it on More-Recipes and get feedback in form of reviews and votes from other users who explore that recipe. Users can also keep a list of their favorite recipes on the application.</p>
                <p><strong>Don't have an account ? </strong><a href="#myModal" data-toggle="modal" data-target="#myModal"><button type="button" class="btn btn-dark btn-lg fa fa-sign-in"> Sign Up</button></a></p>

                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labbelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form action="authUsers/profile.html" method="post" class="form-horizontal" id="inform">
                                            <label for="username">Full Name</label>
                                            <input type="text" name="fullname" class="form-control">

                                            <label for="username">Username</label>
                                            <input type="text" name="username" class="form-control">

                                            <label for="username">Email</label>
                                            <input type="text" name="email" class="form-control">

                                            <label for="password">Password</label>
                                            <input type="password" name="password" class="form-control"><br>
                                            <div class="button">
                                                <input type="submit" class="btn btn-primary btn-lg" value="Submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>

    <section class="container" style="margin-top: 36px" id="explore">
        <h2 class="text-center"> Featured Recipes </h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Recipe 1</div>
                        <div class="card-main">
                            <img src="img/7.jpg" class="img-thumbnail" id="box1">
                            <div class="main-description">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                            </div>

                            <div class="mainBtn">
                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> 2</button>

                                <button class="btn btn-success btn-sm"><span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> 6</button>

                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 10</button>
                            </div>
                            <a href="view_recipes.html">                           <button type="button" class="btn btn-outline-primary">Details</button></a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Recipe 2
                        </div>
                        <div class="card-main">
                            <img src="img/8.jpg" class="img-thumbnail" id="box1">
                            <div class="main-description">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                            </div>
                            <div class="mainBtn">
                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> 2</button>

                                <button class="btn btn-success btn-sm"><span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> 6</button>

                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 10</button>
                            </div>

                            <a href="view_recipes.html">                           <button type="button" class="btn btn-outline-primary">Details</button></a>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Recipe 3
                        </div>
                        <div class="card-main">
                            <img src="img/17.jpg" class="img-thumbnail" id="box1">
                            <div class="main-description">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                            </div>
                            <div class="mainBtn">
                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> 2</button>

                                <button class="btn btn-success btn-sm"><span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> 6</button>

                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 10</button>
                            </div>

                            <a href="view_recipes.html">                           <button type="button" class="btn btn-outline-primary">Details</button></a>

                            <!--<a href="#" class="button btn btn-outline-info">Detail</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="container" style="margin-top: 50px">
        <h2 class="text-center"> Popular Recipes </h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Recipe 1
                        </div>
                        <div class="card-main">
                            <img src="img/10.jpg" class="img-thumbnail" id="box1">
                            <div class="main-description">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                            </div>
                            <div class="mainBtn">
                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> 2</button>

                                <button class="btn btn-success btn-sm"><span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> 6</button>

                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 10</button>
                            </div>

                            <a href="view_recipes.html">                           <button type="button" class="btn btn-outline-primary">Details</button></a>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Recipe 2
                        </div>
                        <div class="card-main">
                            <img src="img/11.jpg" class="img-thumbnail" id="box1">
                            <div class="main-description">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                            </div>
                            <div class="mainBtn">
                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> 2</button>

                                <button class="btn btn-success btn-sm"><span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> 6</button>

                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 10</button>
                            </div>

                            <a href="view_recipes.html">                           <button type="button" class="btn btn-outline-primary">Details</button></a>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Recipe 3
                        </div>
                        <div class="card-main">
                            <img src="img/13.jpg" class="img-thumbnail" id="box1">
                            <div class="main-description">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                            </div>
                            <div class="mainBtn">
                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> 2</button>

                                <button class="btn btn-success btn-sm"><span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> 6</button>

                                <button class="btn btn-danger btn-sm"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 10</button>
                            </div>

                            <a href="view_recipes.html">                           <button type="button" class="btn btn-outline-primary">Details</button></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>


    <hr style="margin-top: 25px">


    <footer>
        <div class="container" class="pad-section">
            <div class="row">

                <div class="col-md-12">
                    <div class="text-center">
                        <p style="color: #2c3e50">Vanessa Ating &copy;
                            <script>
                                document.write(new Date().getFullYear())

                            </script> All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>
