
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background: ghostwhite;
}

html {
  width: 100%;
  height: 100%;
}


h1,
h2,
h3,
h5,
h6 {
    color: #2c3e50;
    font-size: 2.3rem;
}

h4 {
    font-weight: bold;
    color: #2c3e50;
}


p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #222;
}


a {
  cursor: pointer;
}

.container {
  margin-top: 50px;
}

.intro-text {
  margin-top: 30px;
}


.image-container {
    position: relative;
    margin-bottom: 30px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #353A3F;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


.card {
  margin: 20px;
}

.btn-dark {
  font-size: 20px;
  color: #fff;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.form-horizontal {
  width: 600px;
  margin: 0 auto;
}

@media only screen and (min-height: 320px) and ( max-width: 768px) {
  .form-horizontal {
      width: 250px;
  }

}


.mainBtn .btn-sm {
  margin: 5px;
  display: inline-block;
}

.main-description {
  color: #222;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

a .btn-outline-primary{
	margin: 20px;
	padding: 5px 15px;
	border-radius: 4px;
  border: 1px solid #000;
  color: #3498db;
  cursor: pointer;
}

.btn-primary {
  cursor: pointer;
}

#right {
  margin-left: 250px;
}


@media only screen and (min-height: 320px) and ( max-width: 768px) {
  #right {
      margin: 5px 0 0 0;
  }

}

.center {
  text-align: center;
  margin-bottom: 20px;
}

#profile {
  display: block;
  margin-top: 20px;
}

.rounded {
  width: 200px;
  margin: 20px;
}

.bord {
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
  width: 600px;
  margin: 0 auto;
}

@media only screen and (min-height: 320px) and ( max-width: 768px) {
  .bord {
      width: 300px;
  }
}

.userButtons {
  width: 400px;
  margin: 20px auto;
}

@media only screen and (min-height: 320px) and ( max-width: 768px) {
  .userButtons  .btn{
    margin-bottom: 20px;
    margin-left: 100px;
  }
}

a .fa {
  margin: 10px;
  cursor: pointer;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #bdc4cf;
  margin: 0 4px;
  font-size: 16px;
}


.bord2 {
  z-index: 1;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  display: none;
}

.pagination a.active {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
}

.pagination a:hover:not(.active) {
  background-color: #bdc4cf;
}


#oneRecipe {
  max-width: 700px;
margin: 70px auto;
font-family: 'Source Sans Pro', sans-serif;
box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
padding: 20px;
}

#oneRecipe img {
width: 100%;
margin-bottom: 30px;
}

.styles {
text-align: center;
padding-bottom: 50px;
color: #2c3e50;
font-weight: bolder;

}

.top {
  margin-top: 30px;
}

.help-block {
  display: inline;
  color: red;
}

.recipe-image {
  display:block;
  height: 300px;
  width: 100%;
}

