body, html {
  background-color: ghostwhite;
  height: 100%;
  margin: 0;
}

*:focus {outline:none !important}

h1 {
  font-size: 60px;
  color: #fff;
  font-family: 'Croissant One', cursive;
  font-weight: 800
}

h2 {
  text-transform: capitalize;
}

h5 {
  color: #e65100;
}

p {
font-family: 'Gloria Hallelujah', cursive;
font-size: 25px;
color: #eceff1
}

.p-0 {
  padding: 0px;
}

.flex {
  display: flex;
  justify-content: center;
}

.nav-link {
color: #fff !important;
font-size: 16px;
font-family: sans-serif;
}

.navbar-brand {
font-family: sans-serif;
font-size: 20px;
}

.bg-black {
  background-color: #215E21 !important
}

.dropdown-menu .nav-link{
  color: #000 !important;
}

.bg {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("../assets/header.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  max-width: 700px;
  margin: 0 auto;
}

.center  {
  text-align: center;
}

.signup-button{
  max-width: 200 px;
  width: 200px;  
  height: 60px;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
  background-color: #e65100;
  color: #fff;
  border: thin solid #e65100;
  transition: 1 ease-in-out;
}

.signup-button:hover {
  background-color: #ddd;
  color: #e65100;
}


.signin-button {
  max-width: 200px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
  background-color: #e65100;
  color: #fff;
  border: thin solid #e65100;
  transition: 1 ease-in-out;
}

.signin-button:hover {
  background-color: #ddd;
  color: #e65100;
}

.btn-group button {
  float: left;
  margin: 20px;
  justify-content: center;
}

.image-width {
  width: 100%;
  max-height: 180px;
  border-radius: 5px 5px 0 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    background-color:#212121;
    margin: 20px;
    max-width: 300px;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recipedetails-column h2{
color: #fff;
font-family: sans-serif;
text-transform: uppercase;
font-size: 20px;
line-height: 0vh;
margin-top: 10px;
}

.recipedetails-column p{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-button {
text-align: center;
margin: 20px 0 10px 0;
}

.btn-secondary {
  font-family: sans-serif;
  background-color: #e65100;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 1 ease-in-out;
  border: thin solid #e65100;
}

.btn-secondary:hover {
  background-color: #ddd;
  color: #e65100;
}

.scroll-holder {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.scroll-down {
  position: absolute;
  top: -80px;
  color: #fff;
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
  text-align: center;
}

/* The animation code */
@keyframes bounce {
    from {top: -85px;}
    to {top: -75px}
}

@media screen and (max-width: 600px) {
  .signin-button, .signup-button {
    width: 150px;
  }
}

#recipes {
height: auto;
margin-top: 150px;
}

 .disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.active {
  cursor: pointer;
  outline: unset;
}

.btn {
  color: #fff;
  background-color: #e65100;
  float: left;
  margin: 5px;
  cursor: pointer;
}

.img-thumbnail {
  margin: 20px;
  border-radius: 10px;
}

.recipe-details p {
  color: #000;
  font-size: 18px;
}


.image {
  float: left;
  margin-right: 20px;
}


.reviews {
  background-color: #eceff1;
  height: 300px;
  overflow: scroll;
}

.reviews h4 {
  margin: 25px;
}

.form-width{
  width: 600px;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .form-width {
  width: 350px;
  }
} 

.recipe-button {
  width: 80px;
  padding: 10px;
}

.profile p {
    color: #000;
}

.loader-container{
  min-height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  left: 0;
  right: 0;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid green;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.user-name {
  cursor: pointer;
}