<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">More Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="recipe.html">Recipes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="profile.html">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <nav class="mainmenu text-center top">
            <a class="active left" href="#profile">Profile</a>
            <a class="left" href="#fav">Favorite Recipes</a>
            <a class="left" href="#add">Add Recipes</a>
            <a class="left" href="#view">View Recipes</a>
        </nav>
    </div>

    <hr>


    <section class="section" id="profile">
        <div class="container">
            <div class="row text-center bord">
                <div class="col-md-12">
                    <img src="img/prof.jpg" class="rounded mx-auto d-block" alt="...">

                    <strong> Full Name </strong>
                    <a><i class="fa fa-pencil"></i></a>
                    <p> lorem Ipsum </p>

                    <strong> Username </strong>
                    <a><i class="fa fa-pencil"></i></a>
                    <p> lorem Ipsum </p>

                    <strong> Email </strong>
                    <a><i class="fa fa-pencil"></i></a>
                    <p> lorem Ipsum </p>


                    <strong> Bio </strong>
                    <a><i class="fa fa-pencil"></i></a>
                    <p> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

                    <p><strong>Recipes: </strong> 12 |<strong> Favorites: </strong> 10 | <strong> Followers: </strong> 12 </p>


                </div>
            </div>
        </div>
    </section>

    <section class="section" id="fav">
        <div class="container">
            <h3 class="text-center bottom"> My favorite Recipes</h3>
            <div class="row">
                <div class="col-md-4">
                    <img id="box1" class="img-fluid" src="img/1.jpg" alt="recipe image">
                    <h5><a href="view_recipes.html">Recipe 1</a></h5>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <button class="btn btn-danger"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 10</button>

                </div>

                <div class="col-md-4">
                    <img id="box1" class="img-fluid" src="img/2.jpg" alt="recipe image">
                    <h5><a href="view_recipes.html">Recipe 2</a></h5>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <button class="btn btn-danger"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 16</button>

                </div>

                <div class="col-md-4">
                    <img id="box1" class="img-fluid" src="img/3.jpg" alt="recipe image">
                    <h5><a href="view_recipes.html">Recipe 3</a></h5>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <button class="btn btn-danger"><span><i class="fa fa-heart" aria-hidden="true"></i></span> 7</button>

                </div>

            </div>
        </div>
    </section>



    <section class="section" id="add">
        <h3 class="text-center bottom">Add New Recipe</h3>
        <div class="row">
            <div class="col-md-12">
                <form method="" action="" class="form-horizontal">
                    <label for="recipename">Recipe Name</label>
                    <input type="text" name="recipename" class="form-control form-control-sm">
                    <label for="description">Recipe Ingredients </label>
                    <textarea name="description" class="form-control form-control-sm"></textarea>

                    <label for="directions">Directions for cooking</label>
                    <textarea name="description" class="form-control form-control-sm"></textarea>

                    <label for="imageupload">Image</label>
                    <input type="file" name="imageupload" value="recipeimage" class="form-control"><br>
                    <div class="button">
                    <input type="submit" name="addrecipe" value="Add recipe" class="btn btn-primary btn-lg">
                    </div>
                </form>

            </div>

        </div>

    </section>



    <section class="section" id="view">
        <div class="container">
            <h3 class="text-center bottom">My Recipes</h3>
            <div class="row">
                <div class="col-md-4">
                    <img id="box1" class="img-fluid" src="img/4.jpeg" alt="recipe image">
                    <h5><a href="view_recipes.html">Recipe 1</a></h5>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <button type="button" class="btn btn-outline-info">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>

                </div>

                <div class="col-md-4">
                    <img id="box1" class="img-fluid" src="img/5.jpeg" alt="recipe image">
                    <h5><a href="view_recipes.html">Recipe 2</a></h5>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <button type="button" class="btn btn-outline-info">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>

                </div>

                <div class="col-md-4">
                    <img id="box1" class="img-fluid" src="img/6.jpeg" alt="recipe image">
                    <h5><a href="view_recipes.html">Recipe 3</a></h5>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <button type="button" class="btn btn-outline-info">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>

                </div>

            </div>
        </div>
    </section>










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>
