body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.size {
    width: 500px;
    margin: 30px auto;
}

.top {
    margin-top: 20px;
}

.bottom {
    margin-bottom: 30px;
}

.form-horizontal {
    width: 600px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.left {
    padding: 10px;
}

.section { 
	z-index: 1;
	width: 100%; 
	overflow:hidden;
	height:auto;
	padding-top:20px; 
    padding-bottom: 30px;
	display:none;
} 


#profile { 
	display: block;
}

.rounded {
    width: 100px;
    margin: 20px;
}

.bord {
    border: 1px solid red;
    width: 500px;
    margin: 0 auto;
}



#search {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #000;
    cursor: pointer;
    width: 0;
}

#right {
    margin-left: 270px;
    padding: 5px; 
}

#box1 {
    margin: 10px 0 10px 0;
    
}


